a.selected {
    background-color:#1F75CC;
    color:white;
    z-index:100;
}

.messagepop {
    background-color:#FFFFFF;
    border:1px solid #999999;
    cursor:default;
    position: fixed;
    margin:200px;
    width:394px;
    z-index:999;
    padding: 25px 25px 20px;
}


.messagepop p, .messagepop.div {
    margin: 8px 0;
    padding-bottom: 8px;
}